<header class="hero">

  <div class="overlay"></div>

  <div class="hero-content">

    <div class="brand">

      <div class="logo">
        C
      </div>

      <div>
        <span class="brand-name">
          CONF<span>HUB</span>
        </span>

        <p>Conference Management Platform</p>
      </div>

    </div>

    <div class="hero-text">

      <span class="badge">
        ANGULAR 21
      </span>

      <h1>
        Discover. Connect.
        <span>Innovate.</span>
      </h1>

      <p>
        Gérez et découvrez vos conférences depuis une interface
        moderne, dynamique et interactive.
      </p>

    </div>

  </div>

</header>