<section class="detail-section">

  <div class="section-title">

    <span class="eyebrow">
      DÉTAIL
    </span>

    <h2>
      Détail de la conférence
    </h2>

  </div>

  @if (conference()) {

    <article class="detail-card">

      <div class="detail-accent"></div>

      <div class="detail-content">

        <span class="conference-tag">
          CONFÉRENCE SÉLECTIONNÉE
        </span>

        <h3>
          {{ conference()?.title }}
        </h3>

        <p class="description">
          {{ conference()?.description }}
        </p>

        <div class="detail-grid">

          <div class="detail-item">

            <span>Date</span>

            <strong>
              {{ conference()?.date | date:'dd/MM/yyyy' }}
            </strong>

          </div>

          <div class="detail-item">

            <span>Lieu</span>

            <strong>
              {{ conference()?.place }}
            </strong>

          </div>

          <div class="detail-item">

            <span>Participants</span>

            <strong>
              {{ conference()?.nbParticipants }}
              /
              {{ conference()?.maxParticipants }}
            </strong>

          </div>

          @if (conference()) {

            <div class="detail-item">

              <span>Places restantes</span>

              <strong class="red-text">
                {{
                  conference()!.maxParticipants -
                  conference()!.nbParticipants
                }}
              </strong>

            </div>

          }

        </div>

      </div>

    </article>

  } @else {

    <div class="select-message">

      <div class="select-icon">
        →
      </div>

      <div>
        <h3>Sélectionnez une conférence</h3>

        <p>
          Cliquez sur une conférence dans la liste pour afficher
          toutes ses informations.
        </p>
      </div>

    </div>

  }

</section>